.DS_Store
.gradle
.idea
.settings
.classpath
.project
build
sportchef.iml
dependency-reduced-pom.xml
doc/sportchef_technical_documentation.aux
doc/sportchef_technical_documentation.lof
doc/sportchef_technical_documentation.log
doc/sportchef_technical_documentation.lot
doc/sportchef_technical_documentation.out
doc/sportchef_technical_documentation.synctex.gz
doc/sportchef_technical_documentation.toc
nb-configuration.xml
src/main/resources/rebel.xml
src/main/resources/webapp/bower_components
